footer {
	.copyright-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background-color: rgb(75, 93, 173);

		.logo {
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}

		.copyright {
			font-size: 16px;
			font-weight: bold;
		}


	}
}
