<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>SnuLion Community Begins</title>
    {% load static %}
    {% load sass_tags %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'privateCommunity/scss/base.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'privateCommunity/css/bootstrap.min.css' %}">
 
    {% block style %}
    {% endblock style %}
    <script type="module" src="{% static 'privateCommunity/js/base.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script src="{% static 'privateCommunity/js/base2.js' %}"></script>
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    <script src="{% static 'privateCommunity/js/show.js' %}"></script>
    <header>
      <div style="text-align: right;">
        {% if user.is_authenticated %} 
             {{ user.get_username }}님, 안녕하세요
             <a href="{% url 'infoupdate' %}">정보수정</a> 
             <a href="{% url 'logout' %}">로그아웃</a> 
        {% else %} 
             <a href="{% url 'signup' %}">회원가입</a>
             <a href="{% url 'login' %}">로그인</a> 
        {% endif %} 
      </div>
    </header>
    <main>
        <div class="mdl-layout__drawer">        
          <span class="logo">
          <a href="{% url 'privateCommunity:home' %}">
            <img class="icon" src="{% static 'privateCommunity/img/mainlogo3.svg' %}" width="250px" alt="snulioncommunity logo">
          </a>
          </span>

          <nav class="mdl-navigation" style="text-align: center;">
              <a href="{% url 'privateCommunity:board_notice' %}">공지</a>
              <a href="{% url 'privateCommunity:board_announce' %}">공고</a>
              <a href="{% url 'privateCommunity:board_qna' %}">QnA</a>
              <a href="{% url 'privateCommunity:board_apply' %}">모집</a>
              <a href="{% url 'privateCommunity:board_free' %}">자유</a>
              <a href="{% url 'privateCommunity:board_info' %}">정보</a>
              <a href="{% url 'guestbook:list' %}">방명록</a>
        </nav>
        </div>
        
        {% block content %}
        {% endblock content %}

        {% block notice %}
        {% endblock notice %}

        {% block announce %}
        {% endblock announce %}

        {% block apply %}
        {% endblock apply %}

        {% block free %}
        {% endblock free %}

        {% block info %}
        {% endblock info %}

        {% block qna %}
        {% endblock qna %}

        {% block visit %}
        {% endblock visit %}

    </main>
    <footer>
        <div class="copyright-container">
            <img class="logo" src="{% static 'privateCommunity/img/likelion_white_logo.png' %}">
            <span id="copyright-text" class="copyright">SNU LIKELION © 2021</span>
        </div>
    </footer>
    
  </body>
</html>