
{% load mathfilters %}

{% block csslink %}
<link href="/static/guestbook/css/guestbook.scss" rel="stylesheet" type="text/css">
{% endblock%}

{% block content %}
<div id="guestbook">
	<form action="{% url 'guestbook:write' %}" method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td colspan=4><textarea name="content" id="content"></textarea></td>
			</tr>
			<tr>
				<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
			</tr>
		</table>
	</form>
	<ul>
		
			{% for guestbook in guestbooklist %}
			{% if forloop.first %}
				<table style='border-collapse:collapse; border:10px solid; border-color: pink;'>
					<tr>
						<td>[{{ forloop.revcounter }}]</td>
						<td>{{ guestbook.author }}</td>
						<td>{{ guestbook.created_at|date:'Y-m-d H:i' }}</td>
                        {% if request.user == guestbook.author %}
                            <td><a href="{% url 'guestbook:delete' guestbook.id %}">삭제</a></td>
                        {% endif %} 
					</tr>
					<tr>
						<td colspan=4>
						{{ guestbook.content|linebreaks }}
						</td>
					</tr>
				</table>
			{% else %}
				<table>
					<tr>
						<td>[{{ guestbooklist|length | sub:forloop.counter | add:1  }}]</td>
						<td>{{ guestbook.author }}</td>
						<td>{{ guestbook.created_at|date:'Y-m-d H:i' }}</td>
                        {% if request.user == guestbook.author %}
						    <td><a href="{% url 'guestbook:delete' guestbook.id %}">삭제</a></td>
                        {% endif %}
					</tr>
					<tr>
						<td colspan=4>
						{{ guestbook.contents|linebreaks }}
						</td>
					</tr>
				</table>
			{% endif %}
			<br>
			{% endfor %}
			<br>
		
	</ul>
</div>
{% endblock%}