.mouse-scroll {
    position: absolute;
    left:48%;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #96a2ad;
    letter-spacing: 2px;
    bottom:5%;
    text-decoration: none;
    overflow: hidden;
}
.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 46px;
    height: 73px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #96a2ad;
    border-radius: 23px;
}
.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #96a2ad;
    border-radius: 50%;
    -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
}
.mouse-scroll .mouse-message {
    float: left;
    margin: -200px 0 0 7px;
    padding: 0;
    -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
    color:#96a2ad;
}
.mouse-scroll:hover .mouse-message {
    margin-top: 0;
}

.board-title {
    font-family:'Do Hyeon', sans-serif;
    width:70%;
    margin-left: auto; 
    margin-right: auto; 
    display:flex; 
    justify-content:flex-start;
}

.newandedit {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14.5px;
    width:70%;
    margin-left: auto; 
    margin-right: auto; 
    display:flex;
    justify-content: center; 

}