{% extends 'base.html' %}

{% block content %}

    <div>
      <a href="{% url 'privateCommunity:home' %}">home</a>
      <p>분류: {{post.category}}</p>
      <h1>제목: {{ post.title }}</h1>
      <p> 생성 시간: {{post.created_at}} <br> 조회수: {{post.view_count}} </p>
      {% if request.user == post.author %}   
        <a href="{% url 'privateCommunity:edit' post.id %}">수정  </a>
        <a href="{% url 'privateCommunity:delete' post.id %}">삭제</a>
      {% endif %}
      
      <p style="width: 70%;">{{ post.content | safe}}</p>
    </div>
    <div id="post-emotion-container">
      <a onclick="onClickPostBestButton({{post.id}})" id="post-best-button">
        최고에요 {{post.emotion_users.count}}
      </a>
      <a onclick="onClickPostThanksButton({{post.id}})" id="post-thanks-button">
        감사해요 {{post.emotion_users.count}}
      </a>
      <a onclick="onClickPostSurprisingButton({{post.id}})" id="post-surprising-button">
        놀라워요 {{post.emotion_users.count}}
      </a>
      <a onclick="onClickPostFunnyButton({{post.id}})" id="post-funny-button">
        웃겨요 {{post.emotion_users.count}}
      </a>
    </div>

    <p id="comment-count"><strong>댓글이 {{post.comment_set.all.count}}개 있습니다 </strong><p>
    {% if user.is_authenticated %}
    
      {% csrf_token %}
      <input id="comment-input" type="text" name="content" />
      <button onclick="onAddComment({{post.id}})">댓글 달기</button>
  
    {% endif %}
    <div id="comment-list">
      {% for comment in comments %}
        <div id = '{{comment.id}}-comment'>
          <p>{{ comment.author }}: {{ comment.content }} &nbsp; &nbsp;{{ comment.created_at }} &nbsp; 
          {% comment %} {% if user.is_authenticated %}
            <a onclick = "onClickCommentEmotion({{post.id}},{{comment.id}})" id="{{comment.id}}-comment-emotion-button">
              {{comment.like_users.count}} Likes
            </a>
          {% endif %} {% endcomment %}
          {% comment %} {% if request.user == comment.author %}   
            <a onclick = "onClickCommentDelete({{post.id}},{{comment.id}})">댓글 삭제</a>
          {% endif %} {% endcomment %}
          </p>
          <div id='{{comment.id}}-recomment-list'>
            {% csrf_token %}
            <input id='{{comment.id}}-recomment-input' type="text" name="content" />
            <button onclick="onAddReComment({{post.id}}, {{comment.id}})">대댓글 달기</button>
            {% for recomment in comment.recomment_set.all %}
              <p id='{{recomment.id}}-recomment'>
                &nbsp; &nbsp;&nbsp; &nbsp; ㄴ> {{ recomment.author }}: {{ recomment.content }} &nbsp; &nbsp;{{ recomment.created_at }} &nbsp; 
              </p>
            {% endfor %}
          </div>
        </div>

      {% endfor %}
    </div>

    {% comment %} <div id="comment-list">
      {% for comment in comments %}
        <p id = '{{comment.id}}-comment'>
          {{ comment.author }}: {{ comment.content }} &nbsp; &nbsp;{{ comment.created_at }} &nbsp; 
          {% if user.is_authenticated %}
            <a onclick = "onClickCommentEmotion({{post.id}},{{comment.id}})" id="{{comment.id}}-comment-emotion-button">
              {{comment.like_users.count}} Likes
            </a>
          {% endif %}
          {% if request.user == comment.author %}   
            <a onclick = "onClickCommentDelete({{post.id}},{{comment.id}})">댓글 삭제</a>
          {% endif %}
        </p>
      {% endfor %}
    </div> {% endcomment %}
{% endblock content %}