{% extends 'base.html' %}

{% block content %}

    <div style="margin-top: 100px;">
      <p>{{post.category}}
      {% if post.category == "질의응답게시판" %}
       #{{post.qna_type}}
      {% endif %}
      </p>
      <div class="card" style="width:70%;margin-left: auto; margin-right: auto; padding:3%;">
        <div class="card-body">
          <h1 style="font-weight: bold;">{{ post.title }}<br></h1>
          <br>
          <h6 style="font-size : smaller; font-weight: bold; display:inline;">작성자</h6><h6 style="font-size : smaller; display:inline;"> {{post.author}}</h6><br>
          <h6 style="font-size : smaller; font-weight: bold; display:inline;">조회수</h6><h6 style="font-size : smaller; display:inline;"> {{post.view_count}}</h6><br>
          <h6 style="font-size : smaller; font-weight: bold; display:inline;">작성시간</h6><h6 style="font-size : smaller; display:inline;"> {{post.created_at}}</h6><br>
          <br>
          <p style="width: 70%;">{{ post.content | safe}}</p>
          <br>
          <div style="display:flex; justify-content:flex-end;">
          <a class="btn btn-outline-secondary" style="width:53px; font-size:smaller;" href="{% url 'privateCommunity:edit' post.id %}" role="button">수정</a>&nbsp
          <a class="btn btn-outline-secondary" style="width:53px; font-size:smaller;" href="{% url 'privateCommunity:delete' post.id %}" role="button">삭제</a>&nbsp
          <a class="btn btn-outline-secondary" style="width:53px; font-size:smaller;" href="{% url 'privateCommunity:board_notice' %}" role="button">목록</a>
          </div>
        </div>
      
      </div>
      <div class="card" style="width:70%;margin-left: auto; margin-right: auto; padding:3%;">
        <p id="comment-count" style="font-size : smaller;"><strong>댓글이 {{post.comment_set.all.count}}개 있습니다 </strong><p>
          {% if user.is_authenticated %}
          
            {% csrf_token %}
            <input id="comment-input" type="text" name="content" />
            <button class="btn btn-outline-secondary" style="width:53px; font-size:smaller;" onclick="onAddComment({{post.id}})">댓글</button>
          {% endif %}
          <div id="comment-list">
            {% for comment in comments %}
              <div id = '{{comment.id}}-comment'>
                <p>{{ comment.author }}: {{ comment.content }} &nbsp; &nbsp;{{ comment.created_at }} &nbsp; 
                {% comment %} {% if user.is_authenticated %}
                  <a onclick = "onClickCommentEmotion({{post.id}},{{comment.id}})" id="{{comment.id}}-comment-emotion-button">
                    {{comment.like_users.count}} Likes
                  </a>
                {% endif %} {% endcomment %}
                {% comment %} {% if request.user == comment.author %}   
                  <a onclick = "onClickCommentDelete({{post.id}},{{comment.id}})">댓글 삭제</a>
                {% endif %} {% endcomment %}
                </p>
                <div id='{{comment.id}}-recomment-list'>
                  {% csrf_token %}
                  <input id='{{comment.id}}-recomment-input' type="text" name="content" />
                  <button class="btn btn-outline-secondary" style="width:70px; font-size:smaller;" onclick="onAddReComment({{post.id}}, {{comment.id}})">대댓글</button>
                  {% for recomment in comment.recomment_set.all %}
                    <p id='{{recomment.id}}-recomment'>
                      &nbsp; &nbsp;&nbsp; &nbsp; ㄴ> {{ recomment.author }}: {{ recomment.content }} &nbsp; &nbsp;{{ recomment.created_at }} &nbsp; 
                    </p>
                  {% endfor %}
                </div>
              </div>

            {% endfor %}
          </div>

          {% comment %} <div id="comment-list">
            {% for comment in comments %}
              <p id = '{{comment.id}}-comment'>
                {{ comment.author }}: {{ comment.content }} &nbsp; &nbsp;{{ comment.created_at }} &nbsp; 
                {% if user.is_authenticated %}
                  <a onclick = "onClickCommentEmotion({{post.id}},{{comment.id}})" id="{{comment.id}}-comment-emotion-button">
                    {{comment.like_users.count}} Likes
                  </a>
                {% endif %}
                {% if request.user == comment.author %}   
                  <a onclick = "onClickCommentDelete({{post.id}},{{comment.id}})">댓글 삭제</a>
                {% endif %}
              </p>
            {% endfor %}
          </div> {% endcomment %}
        </div>
      {% endblock content %}
      </div> 
    </div>

    